__pycache__/
*.py[cod]
*.pyo

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
runs/
logs/
tensorboard/
ckpt/
checkpoints/
outputs/
cache/
packed_cache/

Graph/
downloaded_models/
*.pt
*.pth
*.ckpt
